<?php
    $captchafeeder_db_host = '127.0.0.1';
    $captchafeeder_db_user = 'user';
    $captchafeeder_db      = 'database';
    $captchafeeder_db_mysql_password = 'foobar';

    $captchafeeder_service_url = "http[s]://some.host.net";

    # Allowed_ip
    $captchafeeder_allowed_ip = array('127.0.0.1','10.10.5.5');

    # What to ask if out of ammo
    $captchafeeder_noammo_question = "Do spammers lie ?|yes";
?>
